<!-- este componente tiene pruebas! no formará parte de la app-->
<!--<app-voter></app-voter>-->

<!--descomentar para ver el alta de Campaign Managers-->
<app-create-cm></app-create-cm>

<!--descomentar para ver el login de SuperAdmin-->
<!-- <app-login-admin></app-login-admin> -->

<!--descomentar para ver el login de Campaign Managers-->
<!-- <app-login-cm></app-login-cm> -->

<!--descomentar para ver el login de voters-->
<!-- <app-login-voter></app-login-voter> -->

<!--descomentar para ver la página nueva contraseña -->
<!--<app-new-pass></app-new-pass> -->


   